
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-Serif;
}


.jumbotron {
  background-color: #bbc4ce;
  padding-top: 5rem;
}

.about-text {
  color: #222;
}

.about-container {
  padding: 5px 10px;
}

.project-title {
  background-color: #bbc4ce;
}
.footer {
  color: #eaeaeaea;
  width: 100%;
  background: #23263c;
}

.card-text {
  color: #222;
}

.social-title {
  font-weight: 400;
  color: #eaeaeaea;
}

.row-about {
  opacity: 70%;
}

.instagram-icon {
  display: flex;
  justify-content: center;
}

.row-description-sosial {
  margin: 0px;
  opacity: 70%;
}

.copyright {
  opacity: 70%;
  font-weight: 350;
}

.content-title {
  color: #222;
}

.title-introduction {
  color: #eaeaeaea;
  background: #23263c;
}

.content-page {
  padding-top: 5rem;
}

.card-carousel-container {
  display: flex;
  margin: 0px;
  justify-content: space-evenly;
}

.card-carousel-container .col {
  border: beige solid 2px;
  border-radius: 10px;
  margin: 5px;
  margin-top: 20px;
}

.carousel-inner .carousel-item img{
  border-radius: 10px;
  border: beige solid 3px;
}

.outer-carousel {
  color: #222;
  text-align: center;
  background: #eeebe3;
  margin-top: 55px;
}

.card-container-fluid {
  background-image: linear-gradient( rgb(255,255,255,0),rgba(34,34,34,1));
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 20px;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.button-card {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  width: 50%;
  height: 30%;
  border-radius: 5px;
  color: #eaeaeaea;
  transition: 0.5s;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.button-card:hover {
  width: 60%;
  border: solid 5px rgba(182,196,240,0.597);
}

.download-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  width: 50%;
  height: 30%;
  border-radius: 5px;
  color: #eaeaeaea;
  transition: 0.5s;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.download-btn:hover {
  width: 60%;
  border: solid 5px rgba(182,196,240,0.597);
}

.API-link {
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.API-link:hover {
  color: white;
  font-size: 15px;
  background: #39445e;
  padding: 2px;
  border-radius: 5px;
}

.paragraph-button {
  cursor: pointer;
  color: salmon;
  background: transparent;
  border: none;
  transition: 0.3s;
}

.paragraph-button:hover {
  background: #39445e;
  border-radius: 5px;
  padding: 2px;
}

.readmore-paragraph {
  text-align: left;
}
